<div class="align-items-center pt-3 pb-2 mb-3">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/users">用户</a></li>
        <li class="breadcrumb-item"><a href="">查看</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{user.name}}</li>
    </ol>
    </nav>
</div>

<div class="card col-sm-6" style="margin: 0 auto" >

  <div class="card-body">
    <h5 class="card-title">{{user.name}}</h5>
    <p class="card-text">
    <form>
  <div class="form-group">
    <label for="formGroupExampleInput">邮箱</label>
    <input type="text" class="form-control" value="{{user.email}}" readonly>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">角色</label>
    <input type="text" class="form-control" value="{{user.role}}" readonly>
  </div>
    </form>
    </p>
    <a href="/users/edit?id={{user.id}}" class="btn btn-primary"><span data-feather="edit"></span> 编辑</a>
  </div>
</div>
